<footer id="footer">
    <br><p class="text-center">Proyecto Académico</p>
    <h1 class="text-center">Hospital RUS PV</h1>
    <p class="text-center">Porque tu salud es lo mas importante para nosostros</p><br>
    <div class="icons text-center">
        <i class="bx bxl-twitter"></i>
        <i class="bx bxl-facebook"></i>
        <i class="bx bxl-instagram"></i>
    </div>
    <div class="copyright text-center">
        &copy; Copyright <strong>Hospital RUS PV</strong> .Todos los derechos reservados
    </div><br>
</footer>
