<section id="product-cards">
    <div class="container">
        <h1>NUESTROS SERVICIOS</h1>
        <div class="row" style="margin-top:50px;">
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="Vista Previa"><i><img
                                    src="assets/image/views.png" alt="" width="30px"></i></button>
                        <button type="button" class="btn btn-secondary" title="Añadir a la lista"><i><img
                                    src="assets/image/heart.png" alt="" width="30px"></i></button>
                    </div>
                    <img src="assets/image/c1.png" alt="">
                    <div class="card-body">
                        <h3>Servicio de emergencia</h3>
                        <p>Atención médica urgente para casos de accidentes, lesiones graves, y enfermedades
                            repentinas.</p><br>
                        <h6><span><button>Solicitar</button></span></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="Vista Previa"><i><img
                                    src="assets/image/views.png" alt="" width="30px"></i></button>
                        <button type="button" class="btn btn-secondary" title="Añadir a la lista"><i><img
                                    src="assets/image/heart.png" alt="" width="30px"></i></button>
                    </div>
                    <img src="assets/image/c2.png" alt="">
                    <div class="card-body">
                        <h3>Consulta externa</h3>
                        <p>Consultas médicas programadas para pacientes con enfermedades crónicas o problemas de
                            salud no urgentes.</p>
                        <h6><span><button>Solicitar</button></span></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="Vista Previa"><i><img
                                    src="assets/image/views.png" alt="" width="30px"></i></button>
                        <button type="button" class="btn btn-secondary" title="Añadir a la lista"><i><img
                                    src="assets/image/heart.png" alt="" width="30px"></i></button>
                    </div>
                    <img src="assets/image/c3.png" alt="" width="190" height="190" style= "align-items: center;">
                    <div class="card-body">
                        <h3>Cirugia</h3>
                        <p>Realización de intervenciones quirúrgicas, tanto programadas como de emergencia, para
                            tratar diversas condiciones médicas.</p>
                        <h6><span><button>Solicitar</button></span></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="Vista Previa"><i><img
                                    src="assets/image/views.png" alt="" width="30px"></i></button>
                        <button type="button" class="btn btn-secondary" title="Añadir a la lista"><i><img
                                    src="assets/image/heart.png" alt="" width="30px"></i></button>
                    </div>
                    <img src="assets/image/c4.png" alt="">
                    <div class="card-body">
                        <h3>Maternidad</h3>
                        <p>Atención médica especializada para mujeres embarazadas, incluyendo control prenatal,
                            parto y cuidados postparto.</p><br>
                        <h6><span><button>Solicitar</button></span></h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:50px;">
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="Vista Previa"><i><img
                                    src="assets/image/views.png" alt="" width="30px"></i></button>
                        <button type="button" class="btn btn-secondary" title="Añadir a la lista"><i><img
                                    src="assets/image/heart.png" alt="" width="30px"></i></button>
                    </div>
                    <img src="assets/image/c5.png" alt="">
                    <div class="card-body">
                        <h3>Cuidados Intesnivos</h3>
                        <p>Atención especializada para pacientes en estado crítico que requieren monitoreo
                            constante y cuidados intensivos.</p>
                        <h6><span><button>Solicitar</button></span></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="Vista Previa"><i><img
                                    src="assets/image/views.png" alt="" width="30px"></i></button>
                        <button type="button" class="btn btn-secondary" title="Añadir a la lista"><i><img
                                    src="assets/image/heart.png" alt="" width="30px"></i></button>
                    </div>
                    <img src="assets/image/c6.png" alt="">
                    <div class="card-body">
                        <h3>Laboratorio clinico</h3>
                        <p>Análisis de muestras biológicas para diagnosticar enfermedades, monitorear
                            tratamientos y evaluar la salud en general.</p>
                        <h6><span><button>Solicitar</button></span></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="Vista Previa"><i><img
                                    src="assets/image/views.png" alt="" width="30px"></i></button>
                        <button type="button" class="btn btn-secondary" title="Añadir a la lista"><i><img
                                    src="assets/image/heart.png" alt="" width="30px"></i></button>
                    </div>
                    <img src="assets/image/c7.png" alt="">
                    <div class="card-body">
                        <h3>Servicio de Radiologia</h3>
                        <p>Realización de estudios de diagnóstico por imágenes, como radiografías, tomografías y
                            resonancias magnéticas, para detectar y evaluar condiciones médicas.</p>
                        <h6><span><button>Solicitar</button></span></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="Vista Previa"><i><img
                                    src="assets/image/views.png" alt="" width="30px"></i></button>
                        <button type="button" class="btn btn-secondary" title="Añadir a la lista"><i><img
                                    src="assets/image/heart.png" alt="" width="30px"></i></button>
                    </div>
                    <img src="assets/image/c8.png" alt="">
                    <div class="card-body">
                        <h3>Farmacologia</h3>
                        <p>Dispensación de medicamentos recetados por médicos, así como asesoramiento sobre su
                            uso adecuado y efectos secundarios.</p>
                        <h6><span><button>Solicitar</button></span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="product-cards">
    <div class="container">
        <h1>REHABILITACION Y TERAPIA FISICA</h1>
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="Vista previa"><i><img
                                    src="assets/image/views.png" alt="" width="30px"></i></button>
                        <button type="button" class="btn btn-secondary" title="Añadir a la lista"><i><img
                                    src="assets/image/heart.png" alt="" width="30px"></i></button>
                    </div>
                    <img src="assets/image/c9.png" alt="">
                    <div class="card-body">
                        <h3>Fisioterapia</h3>
                        <p>Tratamiento para recuperar la movilidad y funcionalidad física después de lesiones,
                            cirugías o enfermedades, utilizando ejercicios, manipulaciones y otros métodos.</p>
                        <h6><span><button>Solicitar</button></span></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="Vista previa"><i><img
                                    src="assets/image/views.png" alt="" width="30px"></i></button>
                        <button type="button" class="btn btn-secondary" title="Añadir a la lista"><i><img
                                    src="assets/image/heart.png" alt="" width="30px"></i></button>
                    </div>
                    <img src="assets/image/c10.png" alt="">
                    <div class="card-body">
                        <h3>Terapia ocupacional</h3>
                        <p>Ayuda a los pacientes a recuperar habilidades cotidianas, como vestirse, cocinar o
                            escribir, después de lesiones o enfermedades que afectan su capacidad para realizar
                            estas actividades.</p>
                        <h6><span><button>Solicitar</button></span></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="Vista previa"><i><img
                                    src="assets/image/views.png" alt="" width="30px"></i></button>
                        <button type="button" class="btn btn-secondary" title="Añadir a la lista"><i><img
                                    src="assets/image/heart.png" alt="" width="30px"></i></button>
                    </div>
                    <img src="assets/image/c11.png" alt="">
                    <div class="card-body">
                        <h3>Terapia de habla y lengua</h3>
                        <p>Tratamiento para mejorar la comunicación y la deglución en pacientes con trastornos
                            del habla, la voz o la deglución, como accidentes cerebrovasculares, traumatismos
                            craneales o enfermedades neurológicas.</p>
                        <h6><span><button>Solicitar</button></span></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="Vista previa"><i><img
                                    src="assets/image/views.png" alt="" width="30px"></i></button>
                        <button type="button" class="btn btn-secondary" title="Añadir a la lista"><i><img
                                    src="assets/image/heart.png" alt="" width="30px"></i></button>
                    </div>
                    <img src="assets/image/c12.png" alt="">
                    <div class="card-body">
                        <h3>Terapia psicologica</h3>
                        <p>Apoyo emocional y tratamiento para pacientes que enfrentan dificultades mentales,
                            emocionales o psicológicas como resultado de enfermedades, lesiones o cirugías,
                            ayudándoles a adaptarse y recuperarse emocionalmente.</p>
                        <h6><span><button>Solicitar</button></span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>