<section id="gallary">
    <div class="container">
        <h1>NUESTRA GALERIA</h1>
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <div class="overlay">
                        <h3 class="text-center">Diagnostico</h3>
                    </div>
                    <img src="assets/image/o1.png" alt="">
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <div class="overlay">
                        <h3 class="text-center">Tratamiento</h3>
                    </div>
                    <img src="assets/image/o2.png" alt="">
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <div class="overlay">
                        <h3 class="text-center">Sintoma</h3>
                    </div>
                    <img src="assets/image/o3.png" alt="">
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 30px;">
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <div class="overlay">
                        <h3 class="text-center">Receta</h3>
                    </div>
                    <img src="assets/image/o4.png" alt="">
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <div class="overlay">
                        <h3 class="text-center">Dosis</h3>
                    </div>
                    <img src="assets/image/o5.png" alt="">
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <div class="overlay">
                        <h3 class="text-center">Prognostico</h3>
                    </div>
                    <img src="assets/image/o6.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
